.content {
    margin: 0 0 0 2.5rem;
    padding-bottom: 3rem;
}

.content p {
    width: 50%;
    font-size: 18px;
    padding-bottom: 1rem;
}

.row {
    display: flex;
    width:100%;
}

.users {
    margin-left: 25rem;
    height: 4.2vw;
    width: 5vw;
}

.dynamic {
    margin-left: 2rem;
}

.funds {
    margin-left: 25rem;
    height: 5vw;
    width: 5vw;
}

.active {
    margin-left: 24.5rem;
    height: 5vw;
    width: 6vw;
}

.dynamicActive {
    margin-left: 1.5rem;
}

