.container {
    margin-top: 2rem;
    display:flex;
    flex-direction: column;
    padding-bottom: 3rem;
}
.posts {
    flex-direction: column;
    display:flex;
}

.head {
    margin-left: 2.5rem;
}

.top {
    display: flex;
}

.post {
    margin: 3rem 3rem 2rem 3rem;
    width: 100%;
    height: 25rem;
}

.photoContainer {
    border-radius: 20px;
    width: 40%;
    max-width: 40%;
    height: 100%;
    max-height: 100%;
    background-position: 50% 50%;
    background-size: cover;
    cursor: pointer;
    background-repeat: no-repeat;
}

.create {
    display: block;
    margin: auto 0 auto 2rem;
    height: 3rem; 
    width: 10rem;
    cursor: pointer;
    background: white;
    border: 1.5px solid rgb(116, 58, 80);
    color: rgb(116, 58, 80);
    outline: none;
    border-radius: 5px;
    font-size: 1.2rem;
}

.create:hover {
    background-color: rgb(116, 58, 80);
    border-color: rgb(116, 58, 80);
    color: white;
  }


.post {
    display:flex;
}

.blogName {
    display: block;
    width: 100%;
    display: block;
    margin-top: -0.3rem;
    font-size: 1.7rem;
}

.blogContent {
    width: 50%;
    height: 10rem;
    border-left: 5px solid rgb(116, 58, 80);
    margin-left: 3rem;
    padding-left: 1rem;
    margin-top: 1rem;
}

.post a {
    display: block;
    width: 10%;
    margin-left: auto;
    text-align: right;
    font-size: 12pt;
    color: rgb(116, 58, 80);
    font-weight: bold;
}

.button {
    display: block;
    margin: 2rem 0 auto 0;
    height: 3rem; 
    width: 6rem;
    cursor: pointer;
    background: white;
    border: 1.5px solid rgb(116, 58, 80);
    color: rgb(116, 58, 80);
    outline: none;
    border-radius: 5px;
    font-size: 1.2rem;
}

.button:hover {
    background-color: rgb(116, 58, 80);
    border-color: rgb(116, 58, 80);
    color: white;
  }