.container {
    display:flex;
    flex-direction: column;
}
.posts {
    flex-direction: column;
    display:flex;
}

.head {
    margin-left: 2.5rem;
}

.topRow {
    margin-left: 1.5rem;
    margin-right: 2.5rem;
    display: flex;
}

.bottomRow {
    margin-left: 1.5rem;
    margin-right: 2.5rem;
    display: flex;
}

.post {
    display:flex;
    flex-direction:column;
    margin : 1.5rem 1.5rem 1.5rem 2.5rem;
}

.post img {
    object-fit: cover;
    width: 100%;
    height: 20rem;
}


.post a {
    text-align: right;
    font-size: 12pt;
    color: rgb(116, 58, 80);
    font-weight: bold;
}