.content {
    margin-top: 1rem;
    height: 45rem;
    width: 100%;
}

.internalNav {
    display: flex;
    background-color: rgb(116, 58, 80);
    opacity: 1;
    height: 3rem;
    width: 100%;
}

.activeLink {
    display: block;
    color: #f2f2f2;
    text-decoration: none;
    font-size: 1.1rem;
    margin-left: 1rem;
    margin-top: auto;
    font-style: italic;
    margin-bottom: auto;
}

.internalLink{
    display: block;
    color: white;
    text-decoration: none;
    font-size: 1.1rem;
    margin-left: 1rem;
    margin-top: auto;
    margin-bottom: auto;
}

.firstInternalLink {
    display: block;
    color: white;
    text-decoration: none;
    font-size: 1.1rem;
    margin-left: 4rem;
    margin-top: auto;
    margin-bottom: auto;
}

.options {
    margin-left: 3.8rem;
}

.option {
    margin-top: 3rem;
}

.changeInput input {
    padding-left: 0.5rem;
    margin-left: 2rem;
    width: 24rem;
    height: 2.5rem;
    border-color: black;
    border: 0.1rem solid black;
    outline: none;
}

.submit {
    display: block;
    margin-left: 7rem;
    cursor: pointer;
    height: 3rem; 
    background: white;
    border: px solid rgb(116, 58, 80);
    color: rgb(116, 58, 80);
    outline: none;
    border-radius: 5px;
    font-size: 1.2rem;
}

.submit:hover {
    background-color: rgb(116, 58, 80);
    border-color: rgb(116, 58, 80);
    color: white;
  }

.changeInput {
    display: flex;
}
.formInput {
    display: flex;
}

form input {
	background-color: #fafafa;
	border: 1px solid #cacece;
	box-shadow: 0 1px 2px rgba(0,0,0,0.05), inset 0px -15px 10px -12px rgba(0,0,0,0.05);
	padding: 9px;
	border-radius: 3px;
	display: inline-block;
	position: relative;
}

form input:checked {
	background-color: #e9ecee;
	border: 1px solid #adb8c0;
	box-shadow: 0 1px 2px rgba(0,0,0,0.05), inset 0px -15px 10px -12px rgba(0,0,0,0.05), inset 15px 10px -12px rgba(255,255,255,0.1);
	color: #99a1a7;
}


.formSubmit {
    display: block;
    margin-left: 6rem;
    cursor: pointer;
    height: 3rem; 
    background: white;
    border: px solid rgb(116, 58, 80);
    color: rgb(116, 58, 80);
    outline: none;
    border-radius: 5px;
    font-size: 1.2rem;
}

.formSubmit:hover {
    background-color: rgb(116, 58, 80);
    border-color: rgb(116, 58, 80);
    color: white;
  }
