.featured {
    display: flex;
    flex-direction: column;
    margin: 0 1.5rem 1.5rem 1.5rem;
}

.buttons {
    display: flex;
}


.cards {
  display: flex;
}

.buttons h2 {
  margin: 1.5rem 0 1.5rem 1rem;
}

.button {
  cursor: pointer;
  margin: 1rem 0 1.5rem 1rem;
  height: 3rem; 
  background: white;
  border-color: rgb(116, 58, 80);
  color: rgb(116, 58, 80);
  outline: none;
  border-radius: 5px;
}

.button:hover {
  background-color: rgb(116, 58, 80);
  border-color: rgb(116, 58, 80);
  color: white;
}

.active {
  cursor: pointer;
  margin: 1rem 0 1.5rem 1rem;
  height: 3rem; 
  border-radius: 5px;
  border-color: rgb(116, 58, 80);
  background-color: rgb(116, 58, 80);
  color: white;
  outline: none;
}
